@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="text-align: center; margin-top: 50px;">
    <h2 style="color: #1976d2;">🎉 Giriş Başarılı!</h2>
    <p style="font-size: 18px; color: #333;">
        Hoş geldiniz! Sizi tekrar aramızda görmek harika.
    </p>
</div>

