@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container my-5">
    <div class="text-center mb-4">
        <img src="https://cdn-icons-png.flaticon.com/512/3050/3050525.png" width="80" alt="Hakkımızda İkonu">
        <h2 class="mt-3">Hakkımızda</h2>
        <p class="text-muted">Tek kartla hayatı kolaylaştıran belediye hizmetleri.</p>
        <hr style="width: 100px; border: 2px solid #0d6efd;">
    </div>

    <div class="lead text-justify mb-5" style="font-size: 1.1rem; line-height: 1.8;">
        <strong>ŞehirKart</strong>, şehir içi ulaşım ve sosyal yardımları tek bir sistemde toplayan akıllı kart çözümüdür.
        Belediyemiz, dijitalleşen dünyaya ayak uydurarak vatandaşlarımıza kolay, hızlı ve güvenli hizmet sunmayı amaçlamaktadır.
    </div>

    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100">
                <img src="https://cdn-icons-png.flaticon.com/512/3611/3611803.png" width="60" alt="Misyon">
                <h4 class="mt-3">Misyon</h4>
                <p>Vatandaşlarımıza modern, adil ve erişilebilir hizmet sunmak.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135706.png" width="60" alt="Vizyon">
                <h4 class="mt-3">Vizyon</h4>
                <p>Teknolojiyle entegre olmuş, çağdaş bir belediyecilik modeli oluşturmak.</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="p-4 border rounded shadow-sm h-100">
                <img src="https://cdn-icons-png.flaticon.com/512/2721/2721671.png" width="60" alt="Hedefler">
                <h4 class="mt-3">Hedefler</h4>
                <p>Şeffaf, hızlı ve güvenli bir hizmet altyapısı ile yaşamı kolaylaştırmak.</p>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <h5>Tanıtım Videomuz</h5>
        <div class="ratio ratio-16x9 mt-3">
            <iframe src="https://www.youtube.com/embed/nhAVYya8Gf8"
                    title="Tanıtım Videosu" allowfullscreen></iframe>
        </div>
    </div>
</div>

