@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5 text-center">
    <div class="alert alert-success d-inline-block p-4 shadow rounded-3" role="alert">
        <div style="font-size: 40px; color: #28a745;">
            <i class="bi bi-check-circle-fill"></i>
        </div>
        <h4 class="mt-3">Mesajınız Alındı</h4>
        <p class="mb-0">Size en kısa sürede geri dönüş yapılacaktır. İlginiz için teşekkür ederiz.</p>
    </div>
</div>

