@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewData["Title"] = "Resimli Linkler";
}

@{
    ViewData["Title"] = "Resimli Linkler";
}

<style>
    .resim-kutusu {
        display: flex;
        justify-content: center;
        gap: 120px; /* Resimler arası boşluk */
        text-align: center;
        margin-top: 80px;
    }

        .resim-kutusu a {
            text-decoration: none;
            color: black;
        }

        .resim-kutusu img {
            width: 130px;
            height: 130px;
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.15);
        }

        .resim-kutusu p {
            margin-top: 8px;
            font-size: 14px;
        }
</style>

<div class="resim-kutusu">
    <a href="@Url.Action("KartDetay", "YolcuKarti")">
        <img src="~/img/2.jpg" alt="Resim 1" />
        <p>Kartım</p>
    </a>
    <a href="@Url.Action("KartDetay", "YolcuKarti")">
        <img src="~/img/3.jpg" alt="Resim 2" />
        <p>Satuş noktaları</p>
    </a>
    <a href="@Url.Action("BakiyeEkle", "KrediKarti")">
        <img src="~/img/4.jpg" alt="Resim 3" />
        <p>Bakiye işlemleri</p>
    </a>
</div>


@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-6 mb-4">
            <a href="@Url.Action("Index", "Hatlar")" class="text-decoration-none text-dark">
            <div class="card shadow-sm p-4">
                  <i class="bi bi-clock" style="font-size: 2rem; color: #007bff;"></i>
                  <h5 class="mt-3">Hat Hareket Saatleri</h5>
            </div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="/Hat/HareketSaatleri" class="text-decoration-none text-dark">
            <div class="card shadow-sm p-4">
                <i class="bi bi-bus-front" style="font-size: 2rem; color: #007bff;"></i>
                <h5 class="mt-3">Otobüsüm Nerede</h5>
            </div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="/Hat/HareketSaatleri" class="text-decoration-none text-dark">
            <div class="card shadow-sm p-4">
                <i class="bi bi-signpost-split" style="font-size: 2rem; color: #007bff;"></i>
                <h5 class="mt-3">Duraklar</h5>
            </div>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a href="/Hat/HareketSaatleri" class="text-decoration-none text-dark">
            <div class="card shadow-sm p-4">
                <i class="bi bi-star" style="font-size: 2rem; color: #007bff;"></i>
                <h5 class="mt-3">Favoriler</h5>
            </div>
            </a>
        </div>
    </div>
</div>
